@mixin inner {
    width: 60vw;
    margin: 0 auto;
}

@mixin section-card-template {
    .text {
        display: flex;
        justify-content: center;
        color: $font_color;
        margin-top: 60px;
        font-size: 16px;
    }
    .container-card {
        display: flex;
        flex-direction: row;
        margin-top: 60px;
        margin-left: 100px;
        margin-right: 100px;
        .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: calc(100% / 3);
            height: 220px;
            > img {
                width: 140px;
                height: 105px;
            }
            > p {
                margin-top: 30px;
                width: 50%;
                text-align: center;
                line-height: 1.3;
                color: $font_color;
                font-size: 18px;
            }
        }
    }
    .image {
        margin-top: 60px;
        display: flex;
        justify-content: center;
        padding-bottom: 120px;
        border-bottom: 1px solid $font_color;
        > img {
            width: 286px;
            height: 280px;
        }
    }
}
